<!-- https://material.angular.io/components/toolbar/examples#toolbar-overview -->

<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button *ngIf="mobile" (click)="toggleMenu.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button (click)="switchDarkmode()">
      <mat-icon>{{ darkmodeEnabled ? "dark_mode" : "light_mode" }}</mat-icon>
    </button>
    <h2 *ngIf="!mobile" class="title">Takumi App</h2>
    <span class="example-spacer"></span>

    <button mat-button color="primary" (click)="openAddressDialog()">
      <mat-icon>search</mat-icon>
      <ng-container *ngIf="!mobile">
        <ng-container *ngIf="walletService.getAddress() as address; else login">
          Connecté en tant que&nbsp;<span class="address">{{ address }}</span>
        </ng-container>

        <ng-template #login> Cliquez-ici pour vous connecter </ng-template>
      </ng-container>
    </button>

    <button
      mat-icon-button
      color="primary"
      (click)="showGasPrices = !showGasPrices"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
    >
      <mat-icon>local_gas_station</mat-icon>
    </button>

    <button mat-button color="primary">
      <mat-icon>account_balance</mat-icon>
      &nbsp;EURO
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- https://material.angular.io/cdk/overlay/examples#cdk-overlay-basic -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="showGasPrices"
>
  <app-gas-card *ngIf="showGasPrices"></app-gas-card>
</ng-template>
