<!-- Le titre de la page par exemple : ETHER eth (+ le logo) -->
<div fxLayout="row">
  <h1 *ngIf="assetInfos" class="title" fxFlex>
    <img [src]="assetInfos.logo" /> {{ assetInfos.name }}
    <span class="title-symbol">{{ assetInfos.symbol }}</span>
  </h1>
</div>

<!-- graphique (ou chargement avec mat-spinner) + prix + description de la crypto obtenue via coinmarket -->
<div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="20px">
  <app-line-chart
    fxFlex="95"
    [fxFlex.gt-sm]="80"
    [fxFlex.gt-md]="70"
    [fxFlex.gt-lg]="60"
    fxFlexOrder="2"
    [fxFlexOrder.gt-md]="3"
    *ngIf="chartReadyForDisplay; else loadingChart"
    [title]="chartTitle"
    [labels]="chartLabels"
    [data]="chartPoints"
    (focused)="onChartFocus($event)"
  >
  </app-line-chart>

  <ng-template #loadingChart>
    <div fxFlex="50" class="loading" fxFlexOrder="2" [fxFlexOrder.gt-md]="3">
      <mat-spinner
        [diameter]="100"
        [strokeWidth]="5"
        color="primary"
      ></mat-spinner>
    </div>
  </ng-template>

  <app-price-card
    *ngIf="chartFocus && chartFocus?.length === 2 && chartFocus[1]"
    fxFlex="80"
    [fxFlex.gt-sm]="60"
    [fxFlex.gt-md]="40"
    [fxFlex.gt-lg]="30"
    fxFlexOrder="1"
    [date]="chartFocus[0]"
    [price]="chartFocus[1]"
    [comparisonPrice]="chartPoints[0]"
    [comparisonDate]="chartLabels[0]"
  >
  </app-price-card>

  <mat-card
    fxFlex="90"
    [fxFlex.gt-md]="40"
    *ngIf="assetInfos?.description"
    class="card-description"
    fxFlexOrder="3"
    [fxFlexOrder.gt-md]="2"
  >
    <mat-card-title>Description</mat-card-title>
    <mat-card-content>{{ assetInfos?.description }}</mat-card-content>
  </mat-card>
</div>
