mat-card.nfts mat-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}
mat-card.nfts .no-nft--text {
  position: relative;
  top: 2px;
}

mat-card.nft {
  margin-bottom: 1rem;
  box-shadow: none;
  border-bottom: solid lightgray 1px;
  border-radius: 0;

  &:hover {
    cursor: pointer;
    background-color: rgba(110, 110, 110, 0.1);
  }
}

mat-card .nft--title {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
}
